<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Create new book</title>
</head>
<body>
<form action="#" th:action="${/user-create}"
                 th:object="&{user}"
                 th:method="post">
    <label for="firstName">Name</label>
    <input type="text" th:field="*{name}" id="firstName" placeholder="First Name">
    <label for="lastName">Last name</label>
    <input type="text" th:field="*{lastName}" id="lastName" placeholder="Last Name">
    <input type="submit" value="Create User">
</form>

</body>
</html>