<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Create new book</title>
</head>
<body>
<form action="#" th:action="@{/book-create}"
                 th:object="${book}"
                 th:method="post">

    <label for="name">Name</label>
    <input type="text" th:field="*{name}" id="name" placeholder="Book name">

    <label for="author">Author</label>
    <input type="text" th:field="*{author}" id="author" placeholder="Author's name">

    <label for="appearence">Date</label>
    <input type="date" th:field="*{appearence}" id="appearence" placeholder="Book date">

    <label for="pages">Pages</label>
    <input type="number" th:field="*{pages}" id="pages" placeholder="Pages">

    <label for="annotation">Annotation</label>
    <input type="text" th:field="*{annotation}" id="annotation" placeholder="Annotation">


    <input type="submit" value="Create Book">
</form>
</body>
</html>