<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<meta charset="UTF-8">
<title>Update book</title>
</head>
<body>
<form action="#" th:action="@{/book-update}"
                 th:object="${book}"
                 th:method="post">
    <!--- getting information from the user. --->
    <label for="id">ID</label>
    <input readonly type="number" th:field="*{id}" id="id" placeholder="ID">
    <br/>
    <label for="name">Name</label>
    <input type="text" th:field="*{name}" id="name" placeholder="Book name">
    <br/>
    <label for="author">Author</label>
    <input type="text" th:field="*{author}" id="author" placeholder="Author">
    <br/>
    <label for="date">Date</label>
    <input type="date" th:field="*{date}" id="date" placeholder="date">
    <br/>
    <label for="pages">Pages</label>
    <input type="number" th:field="*{pages}" id="pages" placeholder="Pages">
    <br/>
    <label for="annotation">Pages</label>
    <input type="text" th:field="*{annotation}" id="annotation" placeholder="Annotation">
    <br/>
    <!--- submitting change and writing updated date to the DB --->
    <input type="submit" value="Update Book">
</form>
</body>
</html>